<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/images/artiste.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artiste</title>
  <script src="https://unpkg.com/@hotwired/turbo@8.0.18/dist/turbo.es2017-umd.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles/app.css">
  <script src="/javascript/app.js"></script>
</head>
<body>
  <%= yield %>

</body>
</html>