<turbo-stream action="append" target="photo-grid">
  <template>
    <% photos.each do |photo| %>
      <%= erb :photo_item, locals: { photo: photo[:path], id: photo[:id] } %>
    <% end %>
  </template>
</turbo-stream>

<turbo-stream action="remove" target="load-more-trigger">
</turbo-stream>
<% if has_more %>
<turbo-stream action="append" target="photo-grid">
  <template>
    <div id="load-more-trigger" data-infinite-scroll-target="trigger" data-offset="<%= offset + limit %>" data-limit="<%= limit %>" class="w-full h-1"></div>
  </template>
</turbo-stream>
<% end %>
